#right {
    float: right;
}
#wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
.red {
    color: red;
}
.down {
    margin-bottom: 100px;
}
#cent {
    width: 90%;
    margin: 0 auto;
}
a {
    margin: 0px 5px;
}
table {
    text-align: center;
}