.right {
    float: right;
}
a {
    margin: 0px 5px;
}
#wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}
.form-control {
    width: 25%;
    margin-top: 15px;
    display: inline-block;
}
.btn-success {
    margin-top: 25px;
    margin-left: 10px;
}

.error {
    color: red;
}